.elements__item {
  font-size: 0;
  /* При использовании списка вылезает зазор (отступ) между элементами li размером 3-4 px. Его возможно убрать только обнулив размер шрифта.Вообщем не пользовался списком и правильно делал. Решил попробовать после необязательных замечаний код-ревьюеров. */
  border-radius: 10px;
  background-color: #fff;
}
