.profile__subtitle {
  margin: 0;
  padding-right: 18px;
  padding-top: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  align-self: start;
}

@media screen and (max-width: 720px) {
  .profile__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 635px) {
  .profile__subtitle {
    padding-top: 14px;
    padding-left: 16px;
    padding-right: 0;
    justify-self: center;
  }
}
